@using System.Data;
@using WorkAdmin.Models;
@model WorkAdmin.Models.ViewModels.WorkLogViewModel 
@{
    ViewBag.Title = "Work Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CurrentUser=new MyHttpUtilities().CurrentUser;
}
    <div class="panel-body" style="min-height:600px;">
        <div class="row" style="margin:10px 3px 15px 3px;">
            @using(Html.BeginForm("WorkLog","Home",FormMethod.Get,new{@class="form form-horizontal"}))
            {
               <div class="pull-left">
                   Month:
                   <input type="text" name="month" id="txtMonthSelector" value="@Model.Month"/>
                   @if(CurrentUser.IsManager)
                   {
                      @:Search:
                      <input type="text" name="filter" id="txtUserFilter" value="@Model.Filter" placeholder="Press Enter to search"/> 
                   }
               </div> 
           }
            @if (Model.UploadProperty != null)
            {
                <div class="pull-right">
                    @if (Model.UploadProperty.AsOfDate != DateTime.MinValue)
                    {
                        @:Stats Date:
                        <span style="color:red;">
                        @Model.UploadProperty.AsOfDate.ToString("MM/dd/yyyy HH:mm")
                        </span>
                        @:Upload Date:
                        <span style="color:red;">
                            @Model.UploadProperty.CreatedTime.ToString("MM/dd/yyyy HH:mm")
                        </span>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.UploadProperty.Comment) && Model.WorkLogDataView.Count > 0)
                    {
                        <span style="font-size:10px;color:gray;">@Model.UploadProperty.Comment</span>
                    }
                </div>
            }
            
        </div>
        <table class="table table-bordered table-hover table-click-effect">
            <thead>
                <tr>
                    @foreach (DataColumn col in Model.WorkLogDataView.Table.Columns)
                    {
                        if (col.ColumnName == "姓名"||col.ColumnName=="人员性质"||col.ColumnName=="未按时发")
                        {
                            if (Model.SortField == col.ColumnName && Model.SortDirection==ESortDirection.Ascending)
                            {
                                <th style="white-space:nowrap;">@Html.ActionLink(col.ColumnName, "WorkLog", new { month=@Model.Month,filter=@Model.Filter,sortfield=@col.ColumnName,sortdirection="1"})
                                <b>&uarr;</b>
                                </th>
                            }
                            else
                            {
                                <th style="white-space:nowrap;">
                                    @Html.ActionLink(col.ColumnName, "WorkLog", new { month = @Model.Month, filter = @Model.Filter, sortfield = @col.ColumnName, sortdirection = "0" })
                                @if (col.ColumnName == Model.SortField)
                                {                                   
                                    @:<b>&darr;</b>                                 
                                }
                            </th>
                            }
                        }
                        else
                        {
                            <th>@col.ColumnName</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.WorkLogDataView.Count > 0)
                {
                    foreach (DataRowView row in Model.WorkLogDataView)
                    {
                        <tr>
                            @foreach (DataColumn col in Model.WorkLogDataView.Table.Columns)
                            {
                                if (col.DataType == typeof(bool))
                                {
                                    if (row.Row.Field<bool>(col) == true)
                                    {
                                        <td>X</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                else
                                {
                                    <td style="white-space:nowrap;">@row.Row[col].ToString()</td>
                                }
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="@Model.WorkLogDataView.Table.Columns.Count">No data available</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@section Scripts{
@if (CurrentUser.IsManager)
{
    <script src="~/Content/jquery-ui.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        var userSource = [];
        @foreach (var name in Model.UserAutoCompletionSource)
            {
                @:userSource.push("@name");
            }
        $("#txtUserFilter").autocomplete(
            {
                source: userSource
            });
        $("#txtUserFilter").keypress(function (e) {
            if (e.keyCode == 13)
            {
                this.form.submit();
            }

        });
    });
    </script>
}

<script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtMonthSelector").datepicker({
                format: 'mm/yyyy',
                startView: 1,
                minViewMode: 1
            });
            $("#menuWorkLog").addClass("selected");

            var monthInitialVal = '@Model.Month';
            $("#txtMonthSelector").change(function (e) {
                if ($(this).val() != monthInitialVal) {
                    this.form.submit();
                }
            });
        });

        @if (Model.WorkLogDataView.Count > 1)
        { 
            <text>
               $(document).ready(function () {
                   var $clickedRow=null;
                   $(".table-click-effect tbody tr").click(function(){
                       if($clickedRow!=null)
                           $clickedRow.removeClass("row-clicked");
                       $(this).addClass("row-clicked");
                       $clickedRow=$(this);
                   });
               });
            </text>
        }
    </script>
    }

@section styles{
    <link href="~/Content/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    @if (CurrentUser.IsManager)
    {         
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />        
    }
}

